*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    place-items: center;
    background-color: black; 
    min-height: 100vh;
}
main{
    display: grid;
    grid-template-areas: 
    'a a a b'
    'c c d d';
    gap: 10px;
    width: 50%;
    margin: auto;
}
main div{
    padding: 50px;
}
.box1{
    background-color: red;
    grid-area: a;
    height: 6rem;
}
.box2{
    background-color: blue;
    grid-area: b;
}
.box3{
    background-color: rgb(43, 255, 0);
    grid-area: c;
}
.box4{
    grid-area: d;  
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    padding: 0;
}

.top, .bottom{
    background-color: rgb(167, 167, 24);
    width: auto;
}
