main{
    display: grid;
    place-items: center;
}
form{
    margin-top: 80px;
    border-radius: 10px;
    padding: 14px;
    width: 200px;
    height: 200px;
    box-shadow: 0 0 8px 8px  aqua;
}
h3{
    margin: 10px;
}
label{
    font-size: 0.8rem;
}
input{
    border-radius: 5px;
    height: 25px;
    border: 2px solid aqua;
    width: 95%;
}
button{
    height: 25px;
    width: 100%;
    border-radius: 5px;
    margin-top: 5px;
    border: transparent;
    margin-top: 10px;
    background-color: aqua;
}
a{
    text-decoration: none;
    color: black
}
p{
    font-size: 0.8rem;
}
p a{
    color: aqua;
}