main{
    display: grid;
    place-items: center;
}
form{
    display: grid;
    place-items: center;
    margin-top: 80px;
    border-radius: 10px;
    padding: 14px;
    width: 200px;
    height: 200px;
    box-shadow: 0 0 8px 8px  aqua;
}